#contact-us-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  border: 2px solid var(--light-gray);
  border-radius: 1rem;
}

#contact-us-form .catchphrase {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}
