/*color palette*/
:root {
  --main-bg-color: white;
  --light-gray: #d1d1d1;
  --gray: #9ca3af;
  --light-green: #00d26a;
  --green: #0f9f5d;
  --orange: #ffa31a;
  --blue: #0099ff;
}

/*body header footer styling*/
body {
  font-family: "Roboto", sans-serif;
  /*remove awful margin from the body*/
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  height: 16rem;
  background-color: white;
  /* width: 100%; */
  color: var(--light-gray);
  background-color: var(--green);
}

/*remove styling for button and anchor*/
a,
a:hover,
a:focus,
a:active {
  /*remove the default link color of the html hyperlink 'a' tag*/
  text-decoration: none;
  color: inherit;
}

button {
  /*remove the complete styling of an HTML button*/
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

/* styling tables */
table {
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.3),
    0 4px 6px -2px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 80%;
  background-color: #fff;
  text-align: center;
}

caption {
  color: var(--blue);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

table th {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border-bottom: 4px solid #ddd;
}

table td {
  padding: 0.5rem;
  border-bottom: 2px solid #ddd;
}

table td:first-child {
  font-weight: bold;
}

/* styling forms */
form {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
}

input[type="button"],
#clear-all-btn {
  width: 100%;
  border-radius: 10rem;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: black;
  background-color: var(--orange);
  font-weight: 500;
  cursor: pointer;
  margin-top: 2rem;
}

#clear-all-btn {
  width: auto;
  margin-top: 0;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

input[type="button"]:hover,
#clear-all-btn:hover {
  background-color: var(--green);
  color: white;
}

fieldset {
  width: 100%;
  margin-bottom: 0.5rem;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  text-align: center;
}

legend {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

fieldset input[type="checkbox"] {
  margin: 1rem;
}

select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  font-size: 1rem;
  background-color: white;
  color: black;
}

/*redundant classes*/
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.green {
  color: var(--green);
}

.orange {
  color: var(--orange);
}

.animate-bottom {
  position: relative;
  opacity: 0;
  transition: opacity 1s, transform 1s;
  transform: translateY(-20px);
}

.animate-bottom.visible {
  opacity: 1;
  transform: translateY(0);
}

/*classes*/

/*HEADER*/
.wrapper {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: var(--orange);
}

.navbar ul li a {
  margin-left: 1rem;
}

.navbar ul li a:hover {
  color: var(--orange);
}

.navbar {
  color: var(--gray);
}

/*split-section*/
.split-section-1 {
  margin-top: 4rem;
}

.split-section-2 {
  margin-top: 8rem;
}

.card-image {
  height: 45rem;
  width: auto;
  border-radius: 2rem;
}

.content-1 {
  margin-left: 4rem;
  width: 26rem;
}

.content-2 {
  margin-right: 4rem;
  width: 26rem;
}

.catchphrase {
  font-size: 4rem;
  font-weight: 800;
}

.description {
  color: var(--light-gray);
  margin-top: 2rem;
}

.get-started {
  margin-top: 2rem;
}

.get-started-btn {
  border-radius: 10rem;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: white;
  background-color: var(--orange);
  font-weight: 500;
}

.new-plants-btn {
  margin-left: 2rem;
}

.contributor {
  margin-top: 2rem;
}

.contributor-logo {
  width: 10rem;
  height: auto;
  /* margin-top: 2rem; */
}

.small-gallery {
  margin-top: 2rem;
}

.small-gallery-image {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  object-fit: cover;
  object-position: bottom;
}

/*display-case*/
.display-case {
  height: 100vh;
  width: 100vw;
  max-width: none;
  margin-left: calc(-40vw + 35%);
  margin-right: calc(-40vw + 35%);
  background-color: var(--green);
  color: white;
  margin-top: 4rem;
}

.display-case h1 {
  font-size: 4rem;
}

.display-case h1 span {
  margin-left: 1rem;
}

.display-case-list {
  width: auto;
}

.display-case-card {
  width: 22rem;
  height: 22rem;
  background-color: white;
  color: var(--green);
  justify-content: space-evenly;
  border-radius: 2rem;
  transform: translateY(1rem);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.display-case-card-2 {
  width: 22rem;
  height: 22rem;
  background-color: var(--orange);
  color: white;
  justify-content: space-evenly;
  border-radius: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.emoji {
  border-radius: 4rem;
  width: 4rem;
  height: 4rem;
  background-color: white;
  font-size: 2rem;
}

.display-case .display-case-card .card-title {
  font-size: 1.5rem;
  font-weight: 600;
  filter: brightness(0.5);
}

.display-case .display-case-card-2 .card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.display-case .card-description {
  text-align: center;
  width: 11rem;
}

/*gallery*/
.gallery {
  margin-top: 8rem;
}

.top-section-gallery {
  width: auto;
  justify-content: space-between;
}

.gallery-title {
  font-size: 4rem;
}

.gallery-title .green {
  width: auto;
}

.see-more-btn {
  color: var(--orange);
}

.gallery-list {
  width: auto;
}

.gallery-card {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  width: 20rem;
  height: 32rem;
  border-radius: 2rem;
  margin: 1rem;
}

.gallery-image {
  width: 20rem;
  height: 20rem;
  border-top-left-radius: 2rem; /* 4px */
  border-top-right-radius: 2rem; /* 4px */
  object-fit: cover;
  object-position: bottom;
}

.gallery-card-description {
  padding: 1rem;
}

.gallery-card-description .wrapper {
  display: flex;
  justify-content: space-between;
}

.plant-name {
  font-size: 1.5rem;
}

.price {
  font-weight: 600;
  margin-top: 1rem;
}

.plant-description {
  text-justify: distribute;
  color: var(--light-gray);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.rating {
  left: 0;
}

/*card*/
.card {
  /*cardimage2.jpeg*/
  /* background-image: url("https://images.pexels.com/photos/6231990/pexels-photo-6231990.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
  background: no-repeat center/100% url("../images/cardImage2.jpeg");
  height: 40rem;
  border-radius: 2rem;
  color: white;
  margin-top: 8rem;
}

.upper-layer {
  /*make the background darker*/
  backdrop-filter: brightness(0.5);
  border-radius: 2rem;
  height: 40rem;
  width: 100%;
}

.card .upper-layer .card-title {
  font-size: 4rem;
  font-weight: 600;
  width: 48rem;
  text-align: center;
}

.card .upper-layer .card-description {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 1.5rem;
}

/*FOOTER*/
footer {
  margin-top: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

footer .navbar {
  color: var(--light-gray);
}

.line {
  height: 1px;
  width: 50rem;
  margin: 1rem;
  background-color: var(--light-gray);
}

@media only screen and (max-width: 1112px) {
  .wrapper {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
  }

  header,
  footer {
    margin: 1rem;
  }

  .flex {
    display: block;
  }
}
